<!DOCTYPE html>
<html>
<head>
    <title>Jul's Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <h1>Jul's Website</h1>
</header>
<body class="myBody">
    <section class="mySectionBody">
        <H2 class="titrepartie">My data</H2>
        <p class="mydata">
            {% for val in values %}
                <p>{{ val.name }} : {{val.val}} </p>
            {% endfor %}
        </p>
    </section>
    <section class="mySectionBody">
        <h2 class="titrepartie">Interface Imprimante 3D</h2>
        <h3>Position de l'extrudeur:</h3>
        <p>{{ position }}</p>
        <h3>Nom de l'imprimante:</h3>
        <p>{{ nom_imprimante }}</p>
    </section>
    <section class="mySectionBody">
        <h2 class="titrepartie">Réglages:</h2>
        <form method="post" action="/envoyer_commande">
            <select name="reglages">
                {% for reglage in reglages %}
                    <option value="{{ reglage }}">{{ reglage }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Appliquer">
        </form>
    </section>
    
    <section class="mySectionBody">
        <h2 class="titrepartie">Commande manuelle:</h2>
        <form method="post" action="/envoyer_commande">
            <input type="text" name="commande">
            <input type="submit" value="Envoyer">
        </form>
    </section>
</body>
</html>
